.containsText{
    position: absolute;
    z-index: 2;
    height: 15%;
    width: 80%;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    opacity: 0.5;
    left: 45px;
    top: 55%;
    overflow: scroll;
    overflow-x: hidden;
}



.normalText{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: white;
    left: 20px;
    right:15px;
    
}

#imag1{
    z-index: 2;
    opacity: 0.9;
    position:  absolute;
    left: 5px;
    top: 11%;
    height: 40%;
    width: 80%;
    max-width: 1000px;
    min-height: 100px;
    min-width: 240px;
    background: rgb(190, 190, 190);
    border-bottom-right-radius: 360px;
    border-top-right-radius: 360px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    
}


#imag1:hover{
    background-image: url(https://citynews-genovatoday.stgy.ovh/~media/horizontal-mid/62033338072347/robot-ragazzi-studenti.jpeg);
    background-repeat: no-repeat;
    background-size: 70% 100%;
}

