.containsText{
    position: absolute;
    z-index: 2;
    height: 15%;
    width: 80%;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    opacity: 0.5;
    left: 45px;
    top: 55%;
    overflow: scroll;
    overflow-x: hidden;
}



.normalText{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: white;
    left: 20px;
    right:15px;
    
}



#imag2{
    opacity: 1;
    position:  absolute;
    height: 100%;
    width: 100%;
    min-width: 240px;
    background: rgb(0, 0, 0);
    
}

#imag1{
    z-index: 2;
    position:  absolute;
    height: 100%;
    width: 100%;
    min-width: 240px;
    background: rgb(207, 207, 207);
    
}

#pres{
    opacity: 0.9;
    left:50%;
}



#subtit{
    opacity: 0%;
    color: rgb(109, 109, 109);
    left: max(60%, 550px);
    font-size: max(40px,5vw);
    text-align: center;
}



.inform::-webkit-scrollbar{
    width: 5px;
    height: 2px;
}


#nothover{
    overflow: scroll;
    overflow-x: hidden;
}

.inform::-webkit-scrollbar-thumb:hover{
    background: rgb(255, 50, 50);
    border-radius: 360px;

}
.inform{
    left: 0px;
    z-index: 2;
    top: 170px;
    height: 25%;
    width: 100%;
    opacity: 0.8;
    overflow: scroll;
    overflow-y: hidden;
    transition: 200ms;
}

#nothover:hover{
    opacity: 0.9;
}




.inform:hover{
    opacity: 0;
    
}

#imag1:hover{
    opacity:0;
}

#subtit{
    opacity: 0;
}


