.containsText{
    position: absolute;
    z-index: 2;
    height: 15%;
    width: 80%;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    opacity: 0.5;
    left: 45px;
    top: 20%;
}

.normalText{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: white;
    left: 20px;
    right:15px;
}

#imag1{
    z-index: 2;
    opacity: 0.8;
    position:  absolute;
    left: 45px;
    top: 50%;
    height: 50%;
    width: 40%;
    max-height: 220px;
    max-width: 480px; 
    border-radius: 20px;
}


#imag2{
    z-index: 2;
    opacity: 0.8;
    position:  absolute;
    left: 550px;
    top: 50%;
    height: 25%;
    width: 40%;
    max-height: 220px;
    max-width: 420px; 
    border-radius: 20px;
}
