.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(146, 146, 146);
    opacity: 0.8;
    font-size: 60px;
    position: absolute;
    z-index: 3;
    left:45px;
}

.containsText{
    position: absolute;
    z-index: 2;
    width: 80%;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    opacity: 0.5;
    top: 30%;
    overflow: scroll;
    overflow-x: hidden;
}



.normalText{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: white;
    left: 20px;
    right:15px;
    
}

#video{
    position: absolute;
    height: 50%;
    width:  96%;
    max-width: 980px;
    z-index: 2;
    left: 2%;
    top:30%;
    border-radius: 20px;
}


#testoGroup{
    left: 63%;
    height: 40%;
    width: 35%;
    
}


#scrollable{
    height: 100%;
    width: 100%;
    overflow: scroll;
}
